<h1>Shipping info</h1>

<%= form_for(@cart) do |f| %>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>