<h2>Shopping Cart</h2>
<%= debug session %>
<table id="line_items">
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th class="price">Unit Price</th>
      <th class="price">Full Price</th>
    </tr>
  </thead>
  <tbody>
    <% for line_item in @cart.line_items %>
      <tr class="<%= cycle :odd, :even %>">
        <td><%= line_item.product.name %></td>
        <td class="qty"><%= line_item.quantity %></td>
        <td class="price"><%= number_to_currency(line_item.unit_price) %></td>
        <td class="price"><%= number_to_currency(line_item.full_price) %></td>
      </tr>
    <% end %>
    </tbody>
    <tr>
      <td class="total price" colspan="4">
        Total: <%= number_to_currency @cart.total_price %>
      </td>
    </tr>
  
</table>

<p>
  <%= link_to "Continue Shopping", products_url %> | <%= link_to "Reset Cart", reset_cart_path%> | Checkout
</p>